provider.name="telcobase"
provider.root="/content/telco"
order.paths=[ "/libs/telcobase", "/libs/telcopluginsbase", "/libs/digitaljourney", "/libs/wizzio"]
baseUrlPropertyName="baseUrl"
bootNode="/libs/digitaljourney/foundation/v3/canvas/ufe/modules"
bootProperties=["runMode\=loc", "disableGeoLocation\=false", "httpRequestTimeout\=10000", "cacheControl\=no-cache", "canvasTitle\=Omnichannel"]