address="http://localhost:4500/core/processcontinuity"
contentType="application/json"
acceptType="application/json"
userName="admin"
password="admin"
connectionTimeout=I"10000"
receiveTimeout=I"180000"
proxyEnabled=B"false"
proxyHost="localhost"
proxyPort=I"8888"
serializationFeatures=[]
deserializationFeatures=[]