# Configuration created by Apache Sling File Installer
crossChannelFilterRule="import\ io.digitaljourney.platform.plugins.modules.processcontinuity.facade.rules.CrossChannelValidation;\r\nimport\ io.digitaljourney.platform.plugins.modules.processcontinuity.entity.Process;\r\nimport\ java.util.List;\r\nimport\ java.util.ArrayList;\r\nrule\ \"No\ restriction\"\r\nwhen\r\n\ \ $validation\ :\ CrossChannelValidation()\r\n\ \ $process\ :\ Process()\ from\ $validation.processes\r\nthen\r\n\ \ $validation.filteredProcesses\ \=\ $validation.processes;\r\nend"
