dataSourceName="notes"
osgi.jdbc.driver.name="PostgreSQL JDBC Driver"
user="${k8s.postgres.db.notes.owner.user}"
password="${k8s.postgres.db.notes.owner.password}"
url="jdbc:postgresql://${k8s.postgres.service.name}:${k8s.postgres.service.externalPort}/notes"
pool="hikari"
hikari.maximumPoolSize=I"8"