providerName="notes"
dataSource.target="(dataSourceName\=notes)"
changeLogName="notes"
changeLog="/META-INF/changelog-master.xml"
changeLogParametersSeparator="^"
changeLogParameters=[\
	"now\=now()^postgresql",\
	"now\=sysdate^oracle"\
]
defaultSchema=""
contexts=["build"]
labels=[]
tag=""
dropFirst=B"false"
async=B"true"
maxRetries=I"10"
retryDelay=I"1"